<html>
  <%- include('./include/head.ejs') %>
    <body>
        <%- contenido %>
        <h1 style="color:blue"><%- titulo %></h1>
        <meter  value=<%= nivel %> min=<%= min %>  max=<%= max %> >2 out of 10</meter>
    </body>
</html>